{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="background-img-1" style="display: flex; justify-content: center">
        <div class="row1" >

            <div style="margin: 9rem auto -5.5rem; width: 100%">
                <div style="font-family: 'Jura', sans-serif; text-align: center;">
                    <p class="descriptions0" style="color: #FFFFFF">​GIÁ CÁC GÓI TẬP TẠI GYMGARDEN</p>
                    <div class="container" style="display: flex; justify-content: center;border-top: 2px solid; border-image: linear-gradient(to right, transparent, #00ff00, transparent) 1;"></div>
                    <h6 style="padding-top: 1rem; color: #FFFFFF;">Gói tập luyện cùng Huấn luyện viên cá nhân, gói tập nhóm</h6>
                </div>
            </div>
            <div style="margin: 7rem auto;display: flex; justify-content: center">
                <div class="row1">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin:0.85rem 0;">
                        <a href="#goitapcoban" style="text-decoration: none;">
                            <div class="frame1" style="display: flex; width: 10rem; margin: auto">
                                <p style="font-size: 20px;font-family: 'Jura', sans-serif; text-align: center; font-weight: 600; margin-right: auto; margin-left: auto; margin-top: 0.7rem;">Gói tập cơ bản</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin:0.85rem 0;">
                         <a href="#goitapnhom" style="text-decoration: none;">
                            <div class="frame1" style="display: flex; width: 10rem; margin: auto">
                                <p style="font-size: 20px;font-family: 'Jura', sans-serif; text-align: center; font-weight: 600; margin-right: auto; margin-left: auto; margin-top: 0.7rem;">Gói tập nhóm</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin:0.85rem 0;">
                         <a href="#goitapgold" style="text-decoration: none;">
                            <div class="frame1" style="display: flex; width: 10rem; margin: auto">
                                <p style="font-size: 20px;font-family: 'Jura', sans-serif; text-align: center; font-weight: 600; margin-right: auto; margin-left: auto; margin-top: 0.7rem;">Gói tập GOLD</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin:0.85rem 0;">
                         <a href="#goitapcangco" style="text-decoration: none;">
                            <div class="frame1" style="display: flex; width: 10rem; margin: auto">
                                <p style="font-size: 20px;font-family: 'Jura', sans-serif; text-align: center; font-weight: 600; margin-right: auto; margin-left: auto; margin-top: 0.7rem;">Gói căng cơ</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row1">
            <div style="background: #ffffff; height: auto; max-height: 250rem; width: 100%">
                <div id="goitapcoban" style="margin-top: 0"></div>
                <div class="row1" style="margin:8rem auto 4rem; width: 100%; max-width: 24rem;border: 2px solid #116736; box-shadow: 5px 5px 12px #000000; display:block;background: #116736;">
                    <h4 style="margin: 1rem auto; text-align: center;font-family: utm-avo, sans-serif; color: #ffffff">
                        GÓI TẬP CƠ BẢN
                    </h4>
                </div>
                <div class="row1" style="margin: 2.5rem auto;">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 1
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    12
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        3,600,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        30 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title" style="background: #116736">
                           <p style="padding-top: 3px">
                                GÓI TẬP 2
                           </p>
                        </div>
                        <div class="pack-box" style="border: 4px solid #116736; background: rgba(255,255,255,0.9)">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem; color: #116736">
                                    16
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p style="color: #116736">
                                    <span style="font-weight: bold">
                                        4,600,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p style="color: #116736">
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        30 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 3
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    20
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        5,600,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        30 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goitapnhom" style="margin-top: 0"></div>
                <div class="row1" style="background: #116736;margin:8rem auto 4rem; width: 100%; max-width: 24rem;border: 2px solid #116736; box-shadow: 5px 5px 12px #000000; display:block">
                    <h4 style="padding-top: 1rem;text-align: center;font-family: utm-avo, sans-serif; color: #ffffff;">
                        GÓI TẬP NHÓM
                    </h4>
                    <p style="text-align: center; color: #ffffff; font-size: 13px; margin: -0.5rem auto; padding-bottom: 1.3rem">
                        Áp dụng nhóm tập 2 người 1 khung giờ
                    </p>
                </div>
                <div class="row1" style="margin: 2.5rem auto;">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 1
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    12
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        6,000,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        30 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                           <p style="padding-top: 3px">
                                GÓI TẬP 2
                           </p>
                        </div>
                        <div class="pack-box" >
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem;">
                                    16
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p >
                                    <span style="font-weight: bold">
                                        7,000,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p >
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        30 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 3
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    20
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        8,000,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        30 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goitapgold" style="margin-top: 0"></div>
                <div class="row1" style="background: #D2AF26;margin:8rem auto 4rem; width: 100%; max-width: 24rem;border: 2px solid #d2af26; box-shadow: 5px 5px 12px #000000; display:block">
                    <h4 style="margin: 1rem auto; text-align: center;font-family: utm-avo, sans-serif; color: #ffffff">
                        GÓI TẬP GOLD
                    </h4>
                </div>
                <div class="row1" style="margin: 2.5rem auto;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 1
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    36
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        9,000,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        90 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 2
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    48
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        11,800,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        90 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 3
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    72
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        18,000,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        180 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 4
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    96
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        24,000,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                                <p>
                                    <span style="font-weight: normal">
                                        Hạn sử dụng:
                                    </span>
                                    <span style="font-weight: bold">
                                        180 ngày
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goitapcangco" style="margin-top: 0"></div>
                <div class="row1" style="margin:8rem auto 4rem;background:  #116736; width: 100%; max-width: 24rem;border: 4px solid #116736; box-shadow: 5px 5px 12px #000000; display:block">
                    <h4 style="margin: 1rem auto; text-align: center;font-family: utm-avo, sans-serif; color: #ffffff">
                        GÓI CĂNG CƠ
                    </h4>
                </div>
                <div class="row1" style="margin: 2.5rem auto;">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px;">
                                GÓI TẬP 1
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    12
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        1,250,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title"">
                           <p style="padding-top: 3px">
                                GÓI TẬP 2
                           </p>
                        </div>
                        <div class="pack-box" style="border: 4px solid #116736;">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    16
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        1,450,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0; padding-left: 0">
                        <div class="pack-title">
                            <p style="padding-top: 3px">
                                GÓI TẬP 3
                            </p>
                        </div>
                        <div class="pack-box">
                            <div class="pack-detail">
                                <h2 style="padding-bottom: 1rem">
                                    20
                                    <span style="font-size: 20px; font-weight: lighter">
                                        SESSIONS
                                    </span>
                                </h2>
                                <p>
                                    <span style="font-weight: bold">
                                        1,750,000 VNĐ
                                    </span>
                                    <span style="font-weight: normal">
                                        / gói tập
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="pop-up-register" style="text-decoration: none;">
                    <div class="register">
                        <h5>
                            Đăng ký tập ngay
                        </h5>
                    </div>
                </a>
                <h1 style="text-align: center; font-weight: bold; color: #116736;">
                    HOẶC
                </h1>
                <p style="margin-top: 2rem; text-align: center; font-size: 15px; color: #116736; margin-bottom: 2rem;">
                    Liên hệ ngay
                    <span style="color: #000000; font-size: 25px">
                         0968 362 462
                    </span>
                    <span>
                        HOTLINE / ZALO để được tư vấn trực tiếp
                    </span>
                </p>
            </div>
        </div>
    </div>


    <div class="bg-register">
       <div class="row1">
            <div class="register-content-1" style="border-radius: 5px">
                <i class="fa fa-times" style="color: #000000; font-size: 26px; position: relative; top: 0.5rem; left: 40rem; cursor: pointer" aria-hidden="true"></i>
                <div class="register-form-base-1">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-success" style="bottom: 1rem; margin: auto" >Đăng ký</button>
                         {% for message in messages %}

                            <div class="alert alert-success">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                            {{ message }}

                            </div>
                         {% endfor %}
                    </form>
                </div>
            </div>
           <div class="register-content-2" style="border-radius: 5px">
               <i class="fa fa-times" style="color: #000000; font-size: 26px; position: relative; left: 17rem; top: 0.5rem; cursor: pointer" aria-hidden="true"></i>
               <div class="register-form-base-2">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-success" >Đăng ký</button>
                    </form>
               </div>
           </div>
       </div>
    </div>



{% endblock %}



